/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.debug {
    border: 1px solid red;
}

/* colors */
:root {
	--color-primary: #141922;
	--color-sidebar: #000000;
	--color-toolbar: #282828;
	--color-secondary: #7D7F84;
	--color-green: #adff2f;
	--color-white: #ffffff;
}

/* general */
html {
    scroll-behavior: smooth;
}
body {
    font-size: 0.8em;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-white);
}
img {
    width: 100%;
    display: block;
}
.wrapper {
    height: 100vh;
}
#toolbar {
    height: 90px;
    background-color: var(--color-toolbar);
}
.content {
    height: calc(100vh - 90px);
    width: 100%;
    background-color: blueviolet;
}
#sidebar {
    width: 200px;
    height: 100%;
    background-color: var(--color-sidebar);
}
main {
    width: calc(100% - 200px);
    background-color: var(--color-primary);
    padding: 100px 20px 20px 20px;
    overflow-y: auto;
}
.header {
    z-index: 3001;
    position: fixed;
    background-color: #00000062;
    height: 80px;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
    align-items: center;
    justify-content: end;
    padding: 20px 5px 30px 5px;
}
section {
    margin-bottom: 50px;
}
h2 {
    margin-bottom: 25px;
}
h4 {
    margin-top: 15px;
}

/* sections */
#john-doe h2 {
    margin-bottom: 10px;
}
#john-doe dd, #artist-section dd {
    margin-bottom: 25px;
}
.card-container {
    gap: 20px;
}
.card {
    width: calc(100% / 6 );
}
.card-img {
    position: relative;
}
.card-img:hover .icon{
    display: block;
    cursor: pointer;
}
.card-img:hover img{
    cursor: pointer;
    opacity: 0.5;
}
#artist-section img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

/* nav */
.header a {
    color: var(--color-white);
}
nav {
    margin-bottom: 30px;
}
nav a {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-secondary);
}
/*//////////////////////////////// 
    border still not centered 
/////////////////////////////////*/
nav a:after {
    content: '';
    display: block;
    height: 3px;
    width: 50%;
    margin: 0 auto;
    background-color: transparent;
}
nav a:hover::after {
    background-color: var(--color-green);
}
nav a:hover {
    color: var(--color-white);
}
nav ul a {
    padding: 15px;
}
dd {
    font-weight: 600;
    color: var(--color-secondary);
}
.card-title>* {
    text-align: center;
    padding: 5px;
}

/* utility */
.btn-header {
    margin-right: 25px;
    padding: 10px 20px;
    border: 2px solid var(--color-white);
    border-radius: 25px;
    text-transform: uppercase;
}
.btn-header:hover{
    transform: scale(1.1);
}
.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    display: none;
}

/* sidebar */
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}
#sidebar ul li a:hover{
    color: var(--color-white);
}
#sidebar ul img {
    width: 35px;
}
#sidebar ul li {
    display: flex;
    align-items: center;
}
#sidebar ul li a {
    color: var(--color-secondary);
    font-weight: 600;
}
#s-logo {
    width: 70%;
    padding: 5px;
}
#small-s-logo {
    padding: 5px;
    display: none;
}
#main-list ul li {
    padding: 5px;
    border-left: 3px solid rgba(255, 255, 255, 0.0);
}
#main-list ul li:hover {
    border-left: 3px solid var(--color-green);
}
#playlist {
    padding: 10px;
}
#playlist h4 {
    text-transform: uppercase;
}
#playlist ul li {
    padding: 5px 0px;
}
#playlist ul li i {
    font-size: 3em;
    padding-right: 5px;
}
#playlist ul li:first-child a {
    display: flex;
    align-items: center;
}
/* bottom sidebar */
#download {
    padding: 10px;
}
#app {
    display: flex;
    border-bottom: 2px solid var(--color-secondary);
}
#app {
    padding-bottom: 10px;
}
#app img {
    width: 20px;

}
#app a {
    padding-left: 5px;
    color: var(--color-secondary);
    font-weight: 600; 
}
#app a:hover {
    color: var(--color-white);
}
#app-bottom {
    padding-top: 10px;
    align-items: center;
}
#app-bottom h4{
    margin: 0px;
    padding-left: 10px;
}
#profile {
    width: 25px;
    height: 25px;
    background-color: var(--color-secondary);
    border-radius: 50%;
    justify-content: center;
    overflow: hidden;
}
#profile img {
    width: 20px;
}

/* toolbar */
#toolbar>div {
    padding: 10px;
}
#left-player {
    min-width: 150px;
}
#left-img {
    max-width: 80px;
}
#left-txt {
    padding: 5px;
}
#left-txt a {
    font-weight: 600;
    color: var(--color-secondary);
}
#left-txt a:hover{
    text-decoration: underline;
}
#toolbar-icon i{
    padding: 5px;
}
#toolbar-icon i:hover {
    cursor: pointer;
    color: var(--color-white);
}
#toolbar i {
    font-size: 1.5em;
}
#toolbar i:hover {
    cursor: pointer;
}
#media {
    display: flex;
    width: 80%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#player-icon {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 1.2em;
}
#player-icon i{
    justify-content: space-between;
}
#player-icon .fa-regular {
    display: inline-block;
}
#player-icon .fa-regular:hover {
    transform: scale(1.5);
}
/* toolbar progress bar */
.progress-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.progress-bar {
    height: 4px;
    border-radius: 10px;
    width: 30%;
    background-color: var(--color-secondary);
}
.progress {
    position: relative;
    height: 100%;
    width: 30%;
    border-radius: 10px;
    background-color: var(--color-secondary);
}
.progress-bar:hover .progress {
    background-color: var(--color-green);
}
/* toolbar progress cursor */
/* ///////////////////////////// */
/* non si piazza dove voglio >:( */
/* //////////////////////////// */
.progress-bar:hover .progress::after{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    right: 0;
    border-radius: 50%;
    background-color: var(--color-white);
    transform: translate(50%, calc (2px - 50%));
    cursor: pointer;
}
/* toolbar volume */
#right-player {
    min-width: 150px;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.7em;
}
#right-player i {
    font-size: 1em;
}
.volume-bar {
    width: 100%;
    min-width: 50%;
    display: flex;
    align-items: center;
}
.volume-bar .progress-bar {
    width: 100%;
}
.volume-bar .progress-bar:hover .progress::after {
    width: 0.8em;
    height: 0.8em;
}
/* flex utility */
.d-flex {
    display: flex;
}
.justify {
    justify-content: center;
}
.align-center {
    align-items: center;
    align-content: center;
}
.space-between {
    justify-content: space-between;
}
.flex-wrap {
    flex-wrap: wrap;
}
/* media query */
@media screen and (max-width: 992px) {
    nav ul{
        flex-wrap: wrap;
    }
    nav ul li {
        padding: 5px;
    }
    .card-container {
        flex-wrap: wrap;
    }
    .card {
        width: calc(100% / 4 - 17px);
    }
}

@media screen and (max-width:768px) {
    .card {
        width: calc(100% / 2 - 17px);
    }
    #toolbar-icon {
        flex-wrap: wrap;
    }
    
}

@media screen and (max-width: 576px) {
    .header {
        left: 50px;
        width: 92%;
    }
    main {
        flex-grow: 1;
    }
    .card {
        width: calc(100% / 1);
    }
    #sidebar {
        width: 50px;
    }
    #sidebar #s-logo {
        display: none;
    }
    #sidebar #small-s-logo {
        display: block;
    }
    #main-list ul li a:last-child  {
        display: none;
    }
    #playlist {
        display: none;
    }
    #app {
        border: none;
    }
    #app a {
        display: none;
    }
    #app-bottom h4 {
        display: none;
    }
    
}